.main-container {
    height: calc(100vh - 150px);
}

.main-container > .row {
    display: flex;
    flex-wrap: nowrap;
    height: 100%; 
}

.main-container > .row > .col-md-4 {
    flex: 0 0 auto;
    width: 300px; 
}

.main-container > .row > .col-md-8 {
    flex: 1 1 auto;
    min-width: 0;
}

.content-section {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.section-header {
    font-size: 0.9em;
    background-color: #e9eaeb;
    padding: 8px;
    margin-bottom: 0;
    user-select: none;
}

.section-body {
    background-color: #ffffff;
    padding: 8px;
    box-sizing: border-box;
    overflow-y: auto;
}

.section-body:has(#container-ide) {
    padding: 0;
    overflow: hidden; 
}

.resize-handle {
    cursor: ew-resize;
    width: 3px;
    height: 100%;
}

.resize-handle:hover {
    background-color: #349eeb;
}

.ide-console {
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: auto; 
    margin-bottom: 8px;
}

.output {
    flex-grow: 1;
    overflow-y: auto;
}

.ide-console, .output {
    overflow: auto;
    min-height: 100px;
}

.ide-console {
    min-height: 55%;
}

.CodeMirror{
    font-size: 0.8em !important;
    line-height: 1.1em !important;
}

.ide-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}

.output-header, .ide-header div {
    display: flex;
    align-items: center;
}

.ide-header .run-btn {
    font-size: 1.1em;
    margin-right: 0.8em;
    color: green;
}

.output-actions {
    display: flex;
}

.output-actions .action-link {
    padding: 0 0.7em;
}

.output-actions .action-link:not(:last-child) {
    border-right: 1px solid #b6b5b5;
}

.output-actions .action-link.selected {
    font-weight: bold;
}

.output-actions .action-link:hover {
    color: #3b3b3b;
}

.output .section-body {
    height: 100%;
    padding: 1em;
}

.output .section-body:has(.Onsetup:not(.d-none)) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.output .section-body .code {
    display: inline-block;
    background-color: #e2dfdf;
    padding: 6px 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.actual-result .CorrectBox {
    color: #0f5132 !important;
    background-color: #d1e7dd !important;
}

.actual-result .WrongBox {
    color: #842029 !important;
    background-color: #f8d7da !important;
}

.debug-title {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.select-wrapper {
    position: relative;
}

.select-wrapper:after {
    content: '\02C5';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

.language-select {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.85em;
    cursor: pointer;
}

.language-select:hover, .language-select:focus {
    appearance: none;
    background-color: #e0e0e0; 
    outline: none;
}

@-moz-document url-prefix() {
    .language-select {
        text-indent: 0.01px;
        text-overflow: '';
    }
}

.language-select::-ms-expand {
    display: none;
}
