.main-container {
    height: calc(100vh - 150px);
}

.main-container > .row {
    display: flex;
    flex-wrap: nowrap;
    height: 100%; 
}

.main-container > .row > .col-md-4 {
    flex: 0 0 auto;
    width: 300px; 
}

.main-container > .row > .col-md-8 {
    flex: 1 1 auto;
    min-width: 0;
}

.content-section {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.section-header {
    font-size: 0.9em;
    background-color: #e9eaeb;
    padding: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
    user-select: none;
}

.section-body {
    background-color: #ffffff;
    padding: 8px;
    box-sizing: border-box;
    overflow-y: auto;
}

.section-body:has(#container-ide) {
    padding: 0;
    overflow: hidden; 
}

.resize-handle {
    cursor: ew-resize;
    width: 3px;
    height: 100%;
}

.resize-handle:hover {
    background-color: #349eeb;
}

.ide-console {
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: auto; 
    margin-bottom: 8px;
}

.output {
    flex-grow: 1;
    overflow-y: auto;
}

.ide-console, .output {
    flex-grow: 1;
    overflow: auto;
    min-height: 100px;
}

.CodeMirror{
    font-size: 0.8em !important;
    line-height: 1.1em !important;
}
