<%- include('../partials/header.html') %>

<!-- Code Mirror Style Start -->
<link rel="stylesheet" href="/public/externalpackages/codemirror-5.65.16/lib/codemirror.css">

<link rel="stylesheet" href="/public/externalpackages/codemirror-5.65.16/theme/dracula.css">
<link rel="stylesheet" href="/public/externalpackages/codemirror-5.65.16/theme/mdn-like.css">
<link rel="stylesheet" href="/public/externalpackages/codemirror-5.65.16/theme/neat.css">

<link rel="stylesheet" href="/public/css/myide.css">
<!-- Code Mirror Style Stop -->

<!-- Hero Start -->
<div class="container-fluid pt-5 bg-primary hero-header">
    <div class="container pt-5"></div>
</div>
<!-- Hero End -->

<!-- Main Content Start -->
<div class="container-fluid mt-3 main-container px-2">
    <div class="row h-100 gx-0">
        <div class="col-md-4 d-flex flex-column px-2">
            <!-- Desafio -->
            <div class="flex-fill content-section">
                <h4 class="section-header"><i class="fa-regular fa-clipboard-question" style="color: #0c6fa8;"></i> Problem</h4>
                <div class="section-body">
                    <!-- Título do Problema -->
                    <h5>Name of the Problem</h5>
                    <!-- Dificuldade -->
                    <p><strong>Difficulty:</strong> <span class="badge bg-success">Easy</span></p>
                    <!-- Contexto/Descrição do Problema -->
                    <p>Problem Description</p>
                </div>
            </div>
        </div>
        <div class="resize-handle"></div>
        <div class="col-md-8 d-flex flex-column px-2">
            <!-- IDE/Console -->
            <div class="ide-console content-section">
                <h4 class="section-header"><i class="fa-solid fa-code" style="color: #0ca80c;"></i> Console</h4>
                <div class="section-body">
                    <textarea id="container-ide"></textarea>
                </div>
            </div>
            <!-- Output -->
            <div class="output content-section">
                <h4 class="section-header"><i class="fa-solid fa-terminal" style="color: #0ca80c;"></i> Output</h4>
                <div class="section-body">Resultado do código...</div>
            </div>
        </div>
    </div>
</div>
<!-- Main Content End -->

<!-- Code Mirror Script Start -->
<script src="/public/externalpackages/codemirror-5.65.16/lib/codemirror.js"></script>
<script src="/public/externalpackages/codemirror-5.65.16/addon/edit/closebrackets.js"></script>

<script src="/public/externalpackages/codemirror-5.65.16/mode/javascript/javascript.js"></script>
<script src="/public/externalpackages/codemirror-5.65.16/mode/python/python.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/public/js/editor.js"></script>
<!-- Code Mirror Script End -->

<%- include('../partials/footer.html') %>
